@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <div id="home-section">
        <div class="dark-overlay">
            <div class="home-inner container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4">
                            Eliminate <strong>Debt</strong>
                            and start Building<strong> wealth</strong> today
                        </h1>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam laborum, harum ab sequi maxime!
                            </div>

                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam laborum, harum ab sequi maxime!
                            </div>

                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam laborum, harum ab sequi maxime!
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-success text-center card-form">
                            <div class="card-body">
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <h3>Sign Up Today</h3>
                                    <!--<p>Please fill out this form to register</p>-->
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="form-group">
                                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" placeholder="Confirm Password">
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
